h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#review-container {
    box-sizing: border-box;
 display: flex;
 align-items: center;
 justify-content: center;
 column-gap: 20px;
}

.icon1 {
    cursor: pointer;
}